:root {
  --primary-color: #0056a7;
  --secondary-color: #b92029;
  --light-red: #e7c4c6;
  --white-color: #fff;
  --black-color: #333333;
  --gray-color: #b2b2b2;
  --light-gray-color: #e0e0e0;
  --light-gray-bg-color: #e0e0e0;
  --light-blue: #c6e4ff;
  --yellow-color: #fff6c6;
}
